body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #000;
}
main {
  padding: 20px;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
}

